/* CRITERIE ITEM
---------------------------------*/

.htmla-project-checker .criterie-item {
  position: relative;
  padding: .5rem .5rem 0;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 3px solid rgba(0,0,0,.2);
  transition: all .25s;
}

@media ( max-width: 850px ) {

.htmla-project-checker .page-content[data-has-attenttion-list] .criterie-item {
    margin-right: 45px;
  }
}
@media ( max-width: 760px ) {
  .htmla-project-checker .page-content[data-has-attenttion-list] .criterie-item {
    margin-right: 0;
  }
}
@media ( max-width: 720px ) {
  .htmla-project-checker .page-content[data-has-attenttion-list] .criterie-item {
    margin-right: 45px;
  }
}

.htmla-project-checker .criterie-item .row {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.htmla-project-checker .criterie-item INPUT[type="checkbox"] {
  background: rgba(0,0,0,.2);
  box-shadow: 0 1px 0 3px rgba(0,0,0,.3);
  border-radius: 2px;
}

/* CRITERIE BUTTONS
---------------------------------*/

.htmla-project-checker .criterie-item__buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: 50px;
  margin-right: 1rem;
  padding: 0 0 10px;
}

@media ( min-width: 650px ) {
  .htmla-project-checker .criterie-item__buttons {
    min-width: 80px;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.criterie-item__button {
  display: none;
}

.htmla-project-checker .criterie-item__button {
  display: block;
  width: 28px;
  height: 28px;
  border: 0px;
  margin: 0 0 10px 0;
  padding: 0;
  box-sizing: border-box;
  background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 80 200 40'%3E%3Cpolygon fill='rgba(0,0,0,.2)' points='0 80 0 120 200 120 200 80'%3E%3C/polygon%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 75% 75%;

  border: 3px solid rgba(0,0,0,.2);
  border-radius: 7px;
}

@media ( min-width: 650px ) {
  .htmla-project-checker .criterie-item__button {
    order: 2;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.htmla-project-checker .criterie-item[data-is-open="false"] .criterie-item__button {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='200 200 200 200'%3E%3Cpolygon fill='rgba(0,0,0,.2)' points='320 280 320 200 280 200 280 280 200 280 200 320 280 320 280 400 320 400 320 320 400 320 400 280'%3E%3C/polygon%3E%3C/svg%3E");
}

.htmla-project-checker .criterie-item[data-is-open="false"] .form-group {
  display: none;
}

.htmla-project-checker .criterie-item[data-state="yes"] {
  background: hsl(90,100%,80%);
}

.htmla-project-checker .criterie-item[data-state="no"] {
  background: hsl(20,100%,90%);
}

.htmla-project-checker .criterie-item .text-muted {
  color: rgba(0,0,0,.65);
}

/* ATTENTION LIST
---------------------------------*/

.attention-list  {
  display: none;
}

.htmla-project-checker .attention-list {
  position: fixed;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.htmla-project-checker .attention-list__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 10px 15px;
  background: #FFF;
  border: 3px solid rgba(0,0,0,.2);
  border-right: 0;
  border-radius: 7px 0 0 7px;
  box-shadow: 0 0px 5px rgba(0,0,0,0.25);
}

.htmla-project-checker .attention-list A {
  margin: 3px 0;
  border-bottom: 1px dotted;
  line-height: 1.2;
  font-size: 14px;
  color: crimson;
}

.htmla-project-checker .attention-list A:hover {
  text-decoration: none;
}
