.popup {
  outline: 1px solid red;
}
.popup-content {
    max-width: 100px;
    max-height: 60px;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font: 14px/1.2 Arial, sans-serif;
    text-transform: none;
    outline: none;
}

.button {
    width: 4.5em;
    height: 2em;
    display: flex;
    justify-content: space-between;
    padding: 0 .2em;
    background: #CCC;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0,0,0,0.75) inset,
        0 0 0 .3em #CCC;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 2em;
}
.button--on {
    background: yellowgreen;
    box-shadow: 0 0 7px rgba(0,0,0,0.75) inset,
        0 0 0 .3em yellowgreen;
}

.button:before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin: auto;
    background: hsla(0,0%,90%,.25);
    border-radius: 50%;
    box-shadow: 0 0 7px rgba(0,0,0,0.75);
}
.button--on:before {
    order: 1;
}

.button:after {
    content: attr(data-off);
    margin: auto .2em;
    margin-right: .2em;
    transition: all .1s;
    flex-grow: 1;
    color: #777;
}
.button--on:after {
    content: attr(data-on);
    color: #000;
    text-shadow: 0 0 2px rgba(0,0,0,.5)
}
